include ../_mixines.pug

section.team
	.custom-shape-divider-bottom-1630332304
		svg( data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none")
			path( d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill")
	.container
		+primaryTitle('team__title', 'team__title-circle', 'Команда ')
		article.team-wrap
			.team-wrap__top
				+teamCard('1.png','Олег Егоров', 'Технический директор и главный технолог')
				+teamCard('2.png', 'Кирилл Новиков', ' Основатель и директор')
				+teamCard('3.png','Николай Титов', 'Главный конструктор, инженер автоматизации')
			.team-wrap__bttm
				+teamCard('4.png', 'Илья Сорокин', ' Бухгалтер и финансист')
				+teamCard('5.png','Константин Беляев', ' Технолог молочного производства')
	.team-footer
		.container
			article.team-footer__wrap
				.team-footer__txt Давайте вместе построим проект, который будет давать нам прибыль, кормить нас!
				a.team-footer__btn.main__btn(href='#') Стать партнером