@import '../general/variables';
@import '../general/mixixines';

@media only screen and (min-width: 480px) {
	// .reviews
	.reviews {

		& > .container {
			padding: 0 15px;
		}
	}

	// .reviews-wrap
	.reviews-wrap {

		// .reviews-wrap__item
		&__item {
			padding: 30px 30px 60px;
		}
	}
}

@media only screen and (min-width: 768px) {
	// .reviews
	.reviews {

		& > .container {
			padding: 0 30px;
		}
	}

	// .reviews-wrap
	.reviews-wrap {
		padding: 75px 0 0 0;
			// .reviews-wrap__title
		&__title {
			display: block;
		}

		// .reviews-wrap__slider
		&__slider {
			/* Стрелка влево */
			.reviews-wrap__prev {
				left: 0;
			}
			/* Стрелка вправо */
			.reviews-wrap__next {
				left: 0;
				transform: translateX(150%);
			}
		}

		// .reviews-wrap__item
		&__item {
			padding: 60px 10px;
		}

		// .reviews-wrap__card
		&__card {
			flex-direction: row;
			padding: 60px 65px;
		}

		// .reviews-wrap__img
		&__img {
			padding: 0 0 23.1932773109% 0;
			flex: 0 0 138px / 595px * 100%;
			margin: 0;
		}

		// .reviews-wrap__content
		&__content {
			padding: 0 0 0 55px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	// .reviews
	.reviews {

		& > .container {
			padding: 0 15px;
		}
	}

	// .reviews-wrap
	.reviews-wrap {
		padding: 130px 0 0 0;
			// .reviews-wrap__title
		&__title {
			display: block;
		}

		// .reviews-wrap__slider
		&__slider {

			/* Ограничивающая оболочка */
			.slick-list {
				overflow: visible;
			}
			/* Лента слайдов */
			.slick-track{
				display: flex;
			}

			/* Стрелка влево */
			.reviews-wrap__prev {
				left: 0;
			}

			/* Стрелка вправо */
			.reviews-wrap__next {
				left: 0;
				transform: translateX(150%);
			}

			.slick-slide {
				margin: 0 10px;
			}
		}

		// .reviews-wrap__item
		&__item {
			padding: 80px 0;
		}

		// .reviews-wrap__card
		&__card {
			padding: 60px 70px;
		}

		// .reviews-wrap__img
		&__img {
		}

		// .reviews-wrap__content
		&__content {
			flex: 1 0;
			padding: 0 0 0 40px;
		}
	}
}