* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(4,minmax(100px,1fr));
	grid-template-rows: repeat(4,minmax(100px,1fr));
	gap: 10px;
	padding: 10px;
}

.bg-images1 {
	background: url(../images/piramid.jpeg) center center/cover no-repeat;
	grid-row: 1/4;
}
.bg-images2 {
	background: url(../images/piramid.jpeg) center center/cover no-repeat;
	grid-row: 2/5;
}
.bg-images3 {
	background: url(../images/piramid.jpeg) center center/cover no-repeat;
	grid-row: 1/4;
}
.bg-images4 {
	background: url(../images/piramid.jpeg) center center/cover no-repeat;
	grid-row: 1/3;
}
.bg-images5 {
	background: url(../images/valley-sa.jpg) center center/cover no-repeat;
}
.bg-images6 {
	background: url(../images/valley-sa.jpg) center center/cover no-repeat;
}
.bg-images7 {
	background: url(../images/valley-sa.jpg) center center/cover no-repeat;
}
.bg-images8 {
	background: url(../images/valley-sa.jpg) center center/cover no-repeat;
	grid-row: 3/5;
	height: 300px;
}