@import 'reset';
.wrapper {
	height: 100vh;
}
.progressbar {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	// .progressbar__box
	&__box {
		width: 500px;
		height: 100px;

	}
	// .progressbar__item
	&__item {
	}
}
