section.pop-up
	article.pop-up__card
		.main__qa.pop-up__qa Есть вопросы?
		.main__consult.pop-up__consult Закажите звонок
		form.main__form.pop-up__form(action="flfl.php", method="post")
			input.main__form-input.pop-up__input(type="text", name="user-name", placeholder='Серг |')
			input.main__form-input.pop-up__input(type="tel", name="user-tel", placeholder='Телефон')
			button.main__form-btn.pop-up__btn(type="submit") Отправить
		.pop-up__exit
