include ../mixines.pug

section.creative
	.container
		+mainTitle('Creative Digital Agency','creative__title','creative__title-txt','creative__title-wrap')
			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque eum aliquid voluptatibus voluptates, repellat rem, quasi nostrum neque, eius maiores incidunt?
		.creative-wrap
			.creative-wrap__img
				img(src="./images/cda-wrap-img.jpg", alt="creative image")
			.creative-wrap__descr
				.creative-wrap__title-txt Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsum consequatur excepturi eius voluptates aperiam, iusto quaerat optio saepe provident eveniet!
				.creative-wrap__txt
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ad est laboriosam ex deleniti quod. Voluptatibus quis eveniet rerum perspiciatis quam corporis laborum minima ea asperiores! Voluptatibus, doloribus sunt <span>corrupti hic earum praesentium</span> commodi tempora animi? Quas voluptatum necessitatibus magnam.
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae illum blanditiis nulla iste beatae ipsum quod doloribus
				a(href="#").creative-wrap__btn Meet Our Team