section.happy-clients
	.container
		+mainTitle('Our Happy Clients','happy-clients__title','happy-clients__txt','happy-clients__wrap')
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod omnis, similique veniam numquam pariatur nam voluptates neque voluptatum possimus laudantium? Accusantium?
	+clientsCard('happy-clients__clients','happy-clients__item', 'black')
	+projectPreview()