section.statistic
	.container
		.statistic-wrap
			.statistic-wrap__col
				.statistic-wrap__title Why Choose Us
				.statistic-wrap__txt
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti suscipit similique dignissimos natus, provident dolor quia temporibus doloribus veniam autem.
				ul.statistic-wrap__list
					li.statistic-wrap__list-item Lorem ipsum dolor dolor sit.
					li.statistic-wrap__list-item Lorem ipsum dolor sit.
					li.statistic-wrap__list-item Lorem ipsum dolor sit. Lorem
					li.statistic-wrap__list-item Lorem ipsum dolor
					li.statistic-wrap__list-item Lorem ipsum dolor sit.
			.statistic-wrap__col
				.statistic-wrap__title Our Services
				.statistic-wrap__card
					.statistic-wrap__service.statistic-wrap__service_active Our Solution
					.statistic-wrap__service-descr
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur facilis ipsam, non, commodi inventore reprehenderit fugiat assumenda aliquam magni, accusantium odit.
				.statistic-wrap__card
					.statistic-wrap__service Our Technology
					.statistic-wrap__service-descr
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur facilis ipsam, non, commodi inventore reprehenderit fugiat assumenda aliquam magni, accusantium odit.
				.statistic-wrap__card
					.statistic-wrap__service Our Mission
					.statistic-wrap__service-descr
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur facilis ipsam, non, commodi inventore reprehenderit fugiat assumenda aliquam magni, accusantium odit.
			.statistic-wrap__col
				.statistic-wrap__title Our Capabilities
				.statistic-wrap__row
					.statistic-wrap__soft-name Photoshop
					.statistic-wrap__loader(data-percent= '95%')
						span.statistic-wrap__percentage(data-percent= '95%')
				.statistic-wrap__row
					.statistic-wrap__soft-name WordPress
					.statistic-wrap__loader(data-percent= '50%')
						span.statistic-wrap__percentage(data-percent= '50%')
				.statistic-wrap__row
					.statistic-wrap__soft-name eCommerce
					.statistic-wrap__loader(data-percent= '72%')
						span.statistic-wrap__percentage(data-percent= '72%')
				.statistic-wrap__row
					.statistic-wrap__soft-name Photography
					.statistic-wrap__loader(data-percent= '36%')
						span.statistic-wrap__percentage(data-percent= '36%')