section.reviews
	.container
		article.reviews-wrap
			.main__title.reviews-wrap__title 3. Отзывы
			.reviews-wrap__slider
				.reviews-wrap__item
					.reviews-wrap__card
						.reviews-wrap__img
							img(src="./images/reviews/review-client-1.jpg", alt="client review")
						.reviews-wrap__content
							.reviews-wrap__txt.main__txt
								p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рукописи однажды ее океана проектах там над, грамматики страну. За последний бросил дорогу повстречался, собрал текст гор океана вскоре однажды.
							.reviews-wrap__client-name Александров Максим, 24 года
							a.reviews-wrap__client-social(href='vk.com' target='_blank') vk.com/mr.sharp
				.reviews-wrap__item
					.reviews-wrap__card
						.reviews-wrap__img
							img(src="./images/reviews/review-client-2.jpg", alt="client review")
						.reviews-wrap__content
							.reviews-wrap__txt.main__txt
								p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рукописи однажды ее океана проектах там над, грамматики страну. За последний бросил дорогу повстречался, собрал текст гор океана вскоре однажды.
							.reviews-wrap__client-name Александрова Мария, 24 года
							a.reviews-wrap__client-social(href='vk.com' target='_blank') vk.com/mr.sharp
				.reviews-wrap__item
					.reviews-wrap__card
						.reviews-wrap__img
							img(src="./images/reviews/review-client-1.jpg", alt="client review")
						.reviews-wrap__content
							.reviews-wrap__txt.main__txt
								p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рукописи однажды ее океана проектах там над, грамматики страну. За последний бросил дорогу повстречался, собрал текст гор океана вскоре однажды.
							.reviews-wrap__client-name Александров Максим, 24 года
							a.reviews-wrap__client-social(href='vk.com' target='_blank') vk.com/mr.sharp
				.reviews-wrap__item
					.reviews-wrap__card
						.reviews-wrap__img
							img(src="./images/reviews/review-client-1.jpg", alt="client review")
						.reviews-wrap__content
							.reviews-wrap__txt.main__txt
								p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рукописи однажды ее океана проектах там над, грамматики страну. За последний бросил дорогу повстречался, собрал текст гор океана вскоре однажды.
							.reviews-wrap__client-name Александров Максим, 24 года
							a.reviews-wrap__client-social(href='vk.com' target='_blank') vk.com/mr.sharp
				.reviews-wrap__item
					.reviews-wrap__card
						.reviews-wrap__img
							img(src="./images/reviews/review-client-2.jpg", alt="client review")
						.reviews-wrap__content
							.reviews-wrap__txt.main__txt
								p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рукописи однажды ее океана проектах там над, грамматики страну. За последний бросил дорогу повстречался, собрал текст гор океана вскоре однажды.
							.reviews-wrap__client-name Александрова Мария, 24 года
							a.reviews-wrap__client-social(href='vk.com' target='_blank') vk.com/mr.sharp