// fonts
$gilroy: 'Gilroy';
$seravek: 'Seravek';
$proxima: 'Proxima Nova Lt';

// fonts

// main
$mainIsoTxtIconImageColor: #fff;
$mainTitlePrimryColor: #fff;

// main

// iso head
$isoBgGradientFirstColor: #f53f63;
$isoBgGradientSecondColor: #f95159;
$isoBgGradientThirdColor: #fd634f;
$isoPrimaryFontColor: #fff;
$isoExitBgColor: #fff;

// iso head
// header
$headerPrimaryFontColor: #fff;
$headTopLogoTxtFontColor: #fce744;
$headTopBtnCorderColor: #c15962;
$headBttmTitleSpanFontColor: #fce744;
// header

// partners
$partnersWrapTitleFontColor: #555555;
$partnersWrapImgBeforeBgColor: #000;

// partners

// description-product
$descriptionTitleFontColor: #4b4c4c;
$descriptionTitleCircleBgColor: #7aafe6;
$descriptionTitleCircleSpanBgColor: #bdd7f3;
$descriptionColCardBgColor: #fff;
$descriptionColCardBoxShadowColor: #f1e6e6;
$descriptionColArrowIconFontColor: #acd1ec;
$descriptionColTitleFontColor: #3e9ad2;
$descriptionColBodyTxtTitle: #3694ce;
$descriptionColBodyFooterTxt: #fd5868;
$descriptionColBodyLineBgColor: #03dcb2;
$descriptionColBodyTxtCircleBgColor: #fff;
$descriptionColBodyTxtCircleBorderColor: #7aafe6;
$descriptionBgColor: #2667af;
// description-product

// process
$processBgColor: #2667af;
$processTitleFontColor: #fff;
$processTitleCircleBgColor: #fff;
$processCircleOuterBgColor: #fff;
$processCircleBgColor: #fff;
$processCircleInner3: #12dcb4;
$processCircleInner4: #84bdfd;
$processCircleInner1: #ff8898;
$processCircleInner2: #b575d9;
$processCircleInner5: #fed08f;
$processCircleTitleFontClor: #343434;
$processNumberBorderColor: #fff;
$processNumberFontColor: #fff;
$processWrapTextFontClor: #343434;
$processWrapTextCirclerimaryColor: #fff;
$processWrapTextCircleArrowBgColor: #28e6c3;
$processWrapTextCircleArrowBgColor1: #f98c9e;
$processWrapTextCircleArrowBgColor2: #ab47e6;
$processWrapTextCircleArrowBgColor3: #12dcb4;
$processWrapTextCircleArrowBgColor5: #fed08f;
$processWrapCardBgColor: #fff;
$processWrapCardBoxShadowColor: #4d86c1;
$processWrapTitleFontColor: #f53f63;
$processWrapTxtFontColor: #343434;
$processWrapTxtSpanFontColor: #f53f63;
$processWrapBtnFontColor: #fff;
$processWrapBtnGradientColor1: #fe8448;
$processWrapBtnGradientColor2: #ee3e6f;
$processWrapBtnAfterBgColor: #fff;
$processWrapCardBorderColor: #fff;
// process
// roadmap
$roadmapTitleFontColor: #4b4c4c;
$roadmapTitleCircleBgColor: #7aafe6;
$roadmapIsoTxtFontColor: #3dd193;
$roadmapIsoTxtSpanFontColor: #4b4c4c;
$roadmapIsoBeforeFontColor: #556180;
$roadmapIsoEndFontColor: #556180;
$roadmapIsoTimerFontColor: #ff4557;
$roadmapIsoTimerEndBorderColor: #717577;
$roadmapCardBgColor: #fff;
$roadmapCardGradientFirstColor: #9eb1d1;
$roadmapCardGradientSecondColor: #3d63a2;
$roadmapWrapTitleFontColor: #fd7f70;
$roadmapWrapTitleSecondFontColor: #51dca2;
$roadmapTxtFontColor: #343434;
$roadmapBtnFontColor: #343434;
$roadmapBtnArrowFontColor:#0ed9b1;
$roadmapDatePrimaryFontColor: #4b4c4c;
$roadmapMoneyFontColor: #6e7175;
$roadmapCircleBgColor: #fd6977;
// roadmap
// blockchain
$blockchainTitleColor: #000;
$blockchainTitleCircleColor: #7aafe6;
$blockchainCardBgColor: #fff;
$blockchainCardTxtFontColor: #4b4c4c;
$blockchainCardTitleFontColor: #78aee3;
$blockchainWaveBgColor: #3f65a8;

// blockchain
// team
$teamPrimaryFontColr: #fff;
$teamBgColor: #3d63a2;
$teamTitleCircleBgColor: #7aafe6;
$teamCardImgBfAfOutlineColor: #fff;
$teamFooterTxtBorderColor: #fd634f;

// team
// faq
$faqTitleFontColor: #4b4c4c;
$faqTitleCircleBgColor: #7aafe6;
$faqCardBgColor: #fff;
$faqCardQuestionFontColor: #4b4c4c;
$faqCardAnswerFontColor: #4b4c4c;
$faqAnswerBorderColor: #69d5c4;
$faqCardAnswerSpanFontColor: #f53f63;
$faqCardQuestionSpanBgColor: #73a8df;
$faqAnyQaInputPlaceholderFontColor: #95bfeb;
$faqAnyQaInputFontColor: #4b4c4c;
$faqAnyQaInputBorderColor: #c9c9c9;
$faqAnyQaBtnFontColor: #fff;

// faq
// footer
$footerPrimaryFontColor: #fff;
$footerTopBtnBorderColor: #ba3973;
$footerBodySocialLinkFontColor: #ba3973;
$footerBodySocialBorderColor: #fff;

// footer

