* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
	font-family: sans-serif;
}
body {
	background-color: black;
}
$borderColor:rgb(211, 74, 97);
.timeline {
	margin: 30px auto;
	position: relative;
	width: 90%;
	border: 1px solid red;
	&::before {
		content: '';
		position: absolute;
		top: 80px;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 3px;
		background-color: $borderColor;
		z-index: 1;
	}
	// .timeline__name
	&__name {
		padding: 30px;
		text-align: center;
		font-size: 1.5em;
	}
	// .timeline__card
	&__card {
		width: 100%;
		position: relative;
	}

	// .timeline__year
	&__year {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 90px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		z-index: 2;
		border: 1px solid $borderColor;
	}
	// .timeline__content
	&__content {
		display: inline-block;
		width: 45%;
		padding: 10px;
		border: 1px solid $borderColor;
		&:nth-child(odd) {
			margin: 0 40%;
		}
	}
	// .timeline__txt
	&__txt {
	}

	// .timeline__title

	&__title {
	}
}

