section.services
	.container
		article.services-wrap
			.services-wrap__col
				.main__title.services-wrap__title 2. Услуги
				.main__subtitle.services-wrap__subtitle
					span.main__number 1
					span Широкоформатная печать баннеров, растяжек, афиш
				.main__txt.services-wrap__txt
					p подготовка макетов к печати, дизайн рекламных баннеров
					p Срочная печать за 3 часа
					p проверка карманов и сварка нескольких изображении
					p пробивка люверсов и вварка монтажных тросов
					p изготовление цветопробы
					p доставка баннеров
				.services-wrap__consult
					.services-wrap__consult-qa
						.services-wrap__consult-any Есть вопросы?
						.services-wrap__consult-ordering Закажите консультацию
					a.services-wrap__consult-btn(href="#") Заказать
			.services-wrap__col
				.services-wrap__content
					.services-wrap__item.curry
						.services-wrap__img
							img(src="./images/services/services-slider.jpg", alt="services-content")
						.services-wrap__street Растяжка на ул.Ленина
					.services-wrap__item
						.services-wrap__img
							img(src="./images/services/services-slider.jpg", alt="services-content")
						.services-wrap__street Растяжка на ул.Калинина
					.services-wrap__item
						.services-wrap__img
							img(src="./images/services/services-slider.jpg", alt="services-content")
						.services-wrap__street Растяжка на ул.Х.Жумамуратова
					.services-wrap__item
						.services-wrap__img
							img(src="./images/services/services-slider.jpg", alt="services-content")
						.services-wrap__street Растяжка на ул.Х.Жумамуратова
					.services-wrap__item
						.services-wrap__img
							img(src="./images/services/services-slider.jpg", alt="services-content")
						.services-wrap__street Растяжка на ул.Х.Жумамуратова
					.services-wrap__item
						.services-wrap__img
							img(src="./images/services/services-slider.jpg", alt="services-content")
						.services-wrap__street Растяжка на ул.Х.Жумамуратова
				.services-wrap__btns
					span.services-wrap__prev.arrow
						i.icon-arrow-left
					span.services-wrap__next.arrow
						i.icon-arrow-right