section.about-us
	.container
		+mainTitle('Some Interesting Stuff About Us','about-us__title','about-us__title-txt','about-us__title-wrap')
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptatibus labore sed, suscipit omnis ab consectetur, ut fugiat, necessitatibus natus iusto!
		article.about-us__wrap
			+abUsCard('6587','satisfied','Satisfied Clients',"fade-left")
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed di
			+abUsCard('896','completed','Completed Projects',"fade-left")
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed di
			+abUsCard('1674','likes','Likes on Average',"fade-right")
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed di
			+abUsCard('769','launched','We Launched',"fade-right")
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed di