section.blog
	.container
		+mainTitle('Latest Blog Posts','blog__title','blog__title-txt','blog__title-wrap')
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis maxime non voluptate! Quibusdam laudantium quod numquam nam temporibus magnam beatae.
		.blog-wrap__slider
			+blogSlider()
			+blogSlider()
			+blogSlider()
			+blogSlider()
			+blogSlider()