section.choose
	.container
		+mainTitle('Why Choose Us','choose__title','choose__title-txt','choose__title-wrap')
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat impedit iste laborum mollitia consectetur voluptatum voluptatibus quisquam alias iusto placeat. Aperiam?
		article.choose-wrap
			.choose-wrap__col
				+faqCard('Our Solution','Consectetuer adipiscing sed diam nonummy')
				+faqCard('Our Mission','Eodem modo typi qui nunc nobis')
				+faqCard('Our Technology','Duis autem vel iriure dolor in hendrerit','choose-wrap__top_active')
				+faqCard('Our Specification','Adipiscing sed diam nonummy')
			.choose-wrap__col
				.choose-wrap__slider
					+reviewsSlider('Jonathan Smith','Britney Doe')
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, cumque? Rem nemo aliquam labore officia aperiam placeat deserunt dignissimos quisquam eius voluptatibus!
					+reviewsSlider('Jonathan Smith','Britney Doe')
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, cumque? Rem nemo aliquam labore officia aperiam placeat deserunt dignissimos quisquam eius voluptatibus!
					+reviewsSlider('Jonathan Smith','Britney Doe')
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, cumque? Rem nemo aliquam labore officia aperiam placeat deserunt dignissimos quisquam eius voluptatibus!
					+reviewsSlider('Jonathan Smith','Britney Doe')
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, cumque? Rem nemo aliquam labore officia aperiam placeat deserunt dignissimos quisquam eius voluptatibus!
					+reviewsSlider('Jonathan Smith','Britney Doe')
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, cumque? Rem nemo aliquam labore officia aperiam placeat deserunt dignissimos quisquam eius voluptatibus!