include ../mixines.pug
section.services-home
		.services-txt-boxes
			.container
				h1.services-txt-boxes__txt The Best Solution for Your Business Projects
				h3.services-txt-boxes__txt.services-txt-boxes__txt_opacity Qualitative PSD Template With Unlimited Possibilities
		.services-outer-wrap
			.container
				.services-wrap
					+services('services-wrap','clean', 'Clean Design')
						.services-wrap__txt
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quibusdam soluta dolorum deserunt odio aut.
					+services('services-wrap','branding', 'branding')
						.services-wrap__txt
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quibusdam soluta dolorum deserunt odio aut.
					+services('services-wrap','responsive', 'responsive')
						.services-wrap__txt
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quibusdam soluta dolorum deserunt odio aut.
					+services('services-wrap','development', 'development')
						.services-wrap__txt
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quibusdam soluta dolorum deserunt odio aut.

