include ../_mixines.pug

footer.footer
	.container
		article.footer-top
			.footer-top__column
				a.footer-top__contacts(href="tel:+79258838338") <span>Телефон:</span>+7 925 88-38-338
				a.footer-top__contacts(href="mailto:ask@volopas.io") <span>Email:</span> ask@volopas.io
			.footer-top__column
				form(action="flfl.php", method="post").footer-top__form
					input.footer-top__uesrmail(type="email", name="" placeholder='Ваш E-mail')
					button.main__btn.footer-top__btn(type="submit") Подписаться
		article.footer-body
			.footer-body__social
				a.footer-body__social-link(href="#")
					i.icon-vk
				a.footer-body__social-link(href="#")
					i.icon-twitter
				a.footer-body__social-link(href="#")
					i.icon-social-facebook
			nav.footer-body__nav
				ul.footer-body__menu
					li.footer-body__item
						a.footer-body__link(href="#") Продукция
					li.footer-body__item
						a.footer-body__link(href="#") Процесс
					li.footer-body__item
						a.footer-body__link(href="#") Дорожная карта
					li.footer-body__item
						a.footer-body__link(href="#") Блокчейн
					li.footer-body__item
						a.footer-body__link(href="#") Команда
					li.footer-body__item
						a.footer-body__link(href="#") FAQ
					li.footer-body__item
						a.footer-body__link(href="#") Whitepaper
		article.footer-bttm
			.footer-bttm__text Copyright &#169; 2017 Volopas | Все права защищены