* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

table {
	margin: 30px;
	border-collapse: collapse;
	width: 70%;
	color: rgb(45, 8, 146);
}

table tr td {
	padding: 20px;
}

tr td:first-of-type {
	width: 40%;
}

tr:nth-child(even) td {
	background-color: rgba(10, 96, 136, 0.2);
}