* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

table {
	margin: 30px;
	border-collapse: collapse;
	width: 70%;
}

table tr th {
	border-bottom: 2px solid blue;
}

tr > th, tr > td {
	color: blueviolet;
	padding: 20px;
	text-align: left;
}

tr th + th, tr td +td {
	width: 20%;
}

tr:hover > td {
	color: blue;
}