block vars
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="./libs/libs.css")
		link(rel="stylesheet", href="./icomoon/style.css")
		link(rel="stylesheet", href="./css/style.min.css")
		title #{title}
	body
		.wrapper
			block content



		script(src='./libs/libs-jquery.js')
		script(src='./libs/libs-slick.js')
		script(src='./libs/libs-wow.js')
		script(src='./libs/libs-im-loaded.js')
		script(src="./libs/libs-masonry.js")
		script(src='./js/min-js/script.js')
		script(src='./js/min-js/' + currjs + '.js')