@import '../general/variables';
@import '../general/mixixines';

// .pop-up
.pop-up {
	padding: 0 15px;
	@include flex(center,center);
	@include position(0,-100vw);
	width: 100vw;
	height: 100vh;
	background-color: rgba($popUpBgColor, .7);
	transition: left .4s linear;
	z-index: 7;

	// .pop-up__active
	&__active {
		left: 0;
	}
	// .pop-up__card
	&__card {
		color: $popUpCardPrimaryFontColor;
		background-color: $popUpCardBgColor;
		padding: 45px 40px;
		border-radius: 10px;
		box-shadow: 0px 23px 32px 0px rgba($popUpCardBoxShadowColor, 0.33);
	}

	// .pop-up__qa
	&__qa {
		color: $popUpCardPrimaryFontColor;
	}

	// .pop-up__consult
	&__consult {
		color: $popUpCardPrimaryFontColor;
	}

	// .pop-up__form
	&__form {
		@include flex(stretch,stretch,column);
	}

	// .pop-up__input
	&__input {
		&::placeholder {
			color: rgba($popUpCardPrimaryFontColor, .5);
		}
	}

	// .pop-up__btn
	&__btn {
	}

	// .pop-up_exit
	&__exit {
		@include position(5%,auto,auto,5%);
		width: 40px;
		height: 40px;
		cursor: pointer;
		&::before,
		&::after {
			content: '';
			@include position(50%,50%);
			background-color: $popUpCardPrimaryFontColor;
			height: 2px;
			width: 70%;
		}
		&::before {
			transform: translate(-50%,-50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%,-50%) rotate(-45deg);
		}
	}
}