footer.footer
	.container
		section.footer-wrap
			.footer-wrap__item ООО &#171;АртАктив&#187;, 2017 &#169;
			a.footer-wrap__item.footer-wrap__confid(href='#') Политика конфиденциальности
			.footer-wrap__item.footer-wrap__designed Designed by Rasul Mirzakulov