section.map|
	|
	<iframe class='maps' style='pointer-events: none;' src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac4b9533cda1b63ed535b3a222558c8d6171014930cf27ca2d17347dd343b3527&amp;source=constructor;scroll=false;" width="100%" height="535" frameborder="0"></iframe>
	.container
		article.map-wrap
			.map-wrap__card
				.main__title.map-wrap__title 5. Контакты
				a.map-wrap__adress.map-wrap__link г. Ярославль, проспект Октября, 88
				a.map-wrap__mail.map-wrap__link(href='mailto: art-aktiv.76@mail.ru') art-aktiv.76@mail.ru
				a.map-wrap__tel.map-wrap__link(href='tel: +79201488131') +7 (920) 148 81 31