
// fonts start
$openSans: 'Open Sans';
$muller: 'Muller';
// fonts end

// decor
$decorBorderColor: #f2f2f2;

// decor

// header
$headerPrimaryFontColor: #fff;
$headNavBgColor: #fff;
$headNavPrimaryFontColor: #696969;
$headTopBtnBorderFontColor: #fb0275;
$clickMenuActiveChildBgColor: #b4b4b4;
$headBottomColumnBtnBgColor: #fb0275;
$headBottomArrowPrimaryColor: #fff;
// header

// main
$mainTitleFontColor: #7f38bd;
$mainSubtileFontColor: #383d52;
$mainTxtFontColor: #5e606a;
$mainLineBorderColor: #883eca;
$mainNumberFontColor: #faf8fb;
$mainNumberTextShadowColor: #000;

// about-us
$aboutUsImgBgColor: #f0e2ff;

// about-us

// services
$servicesBgColor: #faf8fb;
$servicesConsultBgColor: #883eca;
$servicesConsultPrimaryFontColor: #fff;
$servicesConsultBtnBgColor: #fb0275;
$servicesConsultBtnBoxShadowColor: #510856;
$servicesStreetFontColor: #5e606a;
$servicesImgFirstBoxShadowColor: #bbb4bc;
$servicesImgSecondBoxShadowColor: #e5dfea;
$servicesArrowBgFontColor: #883eca;

// services
// print
$printBtnFontColor: #fff;
$printBtnBgColor: #fb0275;

// print
// polygraph
$polygraphBgColor: #faf8fb;
$polygraphQaConsultFontColor: #383d52;
$polygraphInputPlaceholderFontColor: #868995;
$polygraphBtnFontColor: #fff;
$polygraphBtnBgColor: #fb0275;

// polygraph
// reviews
$reviewsCardBoxShadowColor: #510856;
$reviewsCardClientNameFontColor: #383d52;
$reviewsCardClientSocialFontColor: #3594dd;
$reviewsSliderArrowsBgColor: #883eca;

// reviews
// faq
$faqQuestionFontColor: #383d52;
$faqFooterBoxShadowColor: #0c080c;
$faqFooterBgColor: #883eca;
$faqFooterPrimaryFontColor: #fff;
$faqCardBgtColor: #fff;

// faq
// maps
$mapsCardBgColor: #fff;
$mapsCardBoxShadowColor: #000;
$mapsCardLinkFontColor: #5e606a;
$mapsCardLinkIconFontColor: #883eca;

// maps

// main
// footer
$footerBgColor: #65269d;
$FooterPrimaryFontColor: #fff;

// footer
// pop up
$popUpBgColor: #000;
$popUpCardBgColor: #883eca;
$popUpCardBoxShadowColor: #510856;
$popUpCardPrimaryFontColor: #fff;

// pop up