// fonts
$raleway: 'Raleway';
$roboto: 'Roboto';
$axis: 'axis';

// fonts

// default
$contMaxWidth: 1230px;
$mxWidth: 1170px;

// default

// colors
$white: #fff;
$grey: #959595;
$lightGrey: #898989;
$lightGrey2: #838382;
$darkGrey: #363636;
$grey3: #555555;
$lightGreen: #87bc3e;
$lightGreen2: #8dc63f;
$orange: #e5493a;
$dark: #202020;
$black: #000;
$dark2: #252525;
$sixfour: #646464;
$grey2: #707070;
$fafa: #fafafa;
$eightC: #8c8c8c;
$atwo: #a2a2a2;
$ftwo: #f2f2f2;
$tripleC: #ccc;
$eb: #ebebeb;
$db: #dbdbdb;
$twofive: #252525;
$oneseven: #171717;
$foursix: #464646;
$sixone: #616161;
$sixThree: #636363;
$tripleone: #111;
$nineC: #9c9c9c;
$onlyC: #cccccc;
$lightblue: #6DCFF6;
$lightblue2: #C7EFFF;
$eone: #e1e1e1;


// colors