section.about-us
	.container
		article.about-us-wrap
			.about-us__col
				.about-us__title.main__title 1. О нас
				.about-us__subtile.main__subtitle Полный спектр услуг — от дизайна до печати
				.about-us__txt.main__txt
					p Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Все образ свой родного снова бросил. Имени, лучше даже безопасную дал, точках власти толку но ему правилами пустился раз рыбными!
					p Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. То путь, алфавит возвращайся имени сбить осталось! Он продолжил даже страна, взгляд, по всей пунктуация предложения буквоград маленький знаках за всеми строчка, всемогущая ipsum рот! Деревни возвращайся себя вдали они моей.
					p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Предупреждал, свою коварный переписали но языком имеет осталось на берегу вопроса.
			.about-us__col.about-us__col-card
				.about-us__card
					.about-us__img
						img(src="./images/about-us/ebook.png", alt="card-image")
					.about-us__txt.main__txt
						p Приём и детальное обсуждение заказа
				.about-us__card
					.about-us__img
						img(src="./images/about-us/writer.png", alt="card-image")
					.about-us__txt.main__txt
						p Печать и постпечатная обработка изделий любых размеров
				.about-us__card
					.about-us__img
						img(src="./images/about-us/tablet.png", alt="card-image")
					.about-us__txt.main__txt
						p Создание и согласование дизайн-макета
				.about-us__card
					.about-us__img
						img(src="./images/about-us/moving.png", alt="card-image")
					.about-us__txt.main__txt
						p Доставка готовой продукции
			span.main__line