include ../_mixines.pug

section.faq
	.container
		+primaryTitle('faq__title','faq__title-circle', 'Частые вопросы')
		article.faq-wrap
			+faqCard('Как я могу принять участие в распродаже токенов?')
				p Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты, <span>talon</span> эта однажды грамматики своего толку гор запятой маленький?
				p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Агентство рот сбить, снова ее своих продолжил коварных использовало lorem по всей маленькая однажды необходимыми дороге она раз не злых страну пояс большой запятой жизни которой.
			+faqCard('В какой момент мне начислятся токены TALON?')
				p Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты, <span>talon</span> эта однажды грамматики своего толку гор запятой маленький?
				p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Агентство рот сбить, снова ее своих продолжил коварных использовало lorem по всей маленькая однажды необходимыми дороге она раз не злых страну пояс большой запятой жизни которой.
			+faqCard('Почему ранние инвесторы получают такую большую скидку?')
				p Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты, <span>talon</span> эта однажды грамматики своего толку гор запятой маленький?
				p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Агентство рот сбить, снова ее своих продолжил коварных использовало lorem по всей маленькая однажды необходимыми дороге она раз не злых страну пояс большой запятой жизни которой.
			+faqCard('Как проверить ваши смарт-контракты?')
				p Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты, <span>talon</span> эта однажды грамматики своего толку гор запятой маленький?
				p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Агентство рот сбить, снова ее своих продолжил коварных использовало lorem по всей маленькая однажды необходимыми дороге она раз не злых страну пояс большой запятой жизни которой.
			+faqCard('Что произойдёт, если не наберётся необходимая проекту сумма?')
				p Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты, <span>talon</span> эта однажды грамматики своего толку гор запятой маленький?
				p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Агентство рот сбить, снова ее своих продолжил коварных использовало lorem по всей маленькая однажды необходимыми дороге она раз не злых страну пояс большой запятой жизни которой.
			+faqCard('Какой объём продуктов я смогу получать бесплатно?')
				p Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты, <span>talon</span> эта однажды грамматики своего толку гор запятой маленький?
				p Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Агентство рот сбить, снова ее своих продолжил коварных использовало lorem по всей маленькая однажды необходимыми дороге она раз не злых страну пояс большой запятой жизни которой.
		article.faq-any-qa
			+primaryTitle('faq-any-qa__title','faq-any-qa__title-circle','Остались вопросы? Пишите')
			.faq-any-qa__form-wrap
				form(action="dskjg.php", method="post")
					.faq-any-qa__form-wrap-top
						input.faq-any-qa__input(type="text", name="userName" placeholder='Имя' tabindex='1')
						input.faq-any-qa__input(type="email", name="userMail" placeholder='E-mail' tabindex='2')
						input.faq-any-qa__input.faq-any-qa__input_text(type="text", name="userText" placeholder='Сообщение' tabindex='3')
					.faq-any-qa__btns
						button.main__btn.faq-any-qa__btn(type="submit" tabindex='4') Отправить
