@import '../variables';
@import '../mixines';

// .roadmap
.roadmap {
	position: relative;
	background:
	url(../images/roadmap/bg-roadmap.png),
	linear-gradient(to bottom, #fff 0%, $roadmapCardGradientFirstColor 81%, $roadmapCardGradientSecondColor 100%), 0/cover no-repeat;

	.custom-shape-divider-bottom-1630332304 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		z-index: 3;
  }
  
  .custom-shape-divider-bottom-1630332304 svg {
		position: relative;
		display: block;
		width: calc(144% + 1.3px);
		height: 137px;
  }
  
  .custom-shape-divider-bottom-1630332304 .shape-fill {
		fill: #FFFFFF;
  }


	// .roadmap__title
	&__title {
		color: $roadmapTitleFontColor;
	}

	// .roadmap__title-circle
	&__title-circle {
		background-color: $roadmapTitleCircleBgColor;
		&::before,
		&::after {
			background-color: $roadmapTitleCircleBgColor;
		}
	}
}

// .roadmap-wrap
.roadmap-wrap {
	padding: 8rem 0;
	@include flex(stretch,stretch,column);

	// .roadmap-wrap__iso
	&__iso {
		align-self: flex-end;
		&::before {
			top: auto;
			bottom: 0;
			left: 0;
			transform: translateX(-150%);
			color: $roadmapIsoBeforeFontColor;
			font-size: 2em;
		}
	}

	// .roadmap-wrap__iso-txt
	&__iso-txt {
		font-size: 3rem;
		font-family: $gilroy;
		color: $roadmapIsoTxtFontColor;
		font-weight: bold;
		& > span {
			padding: 0 0 0 .5rem;
			text-transform: uppercase;
			color: $roadmapIsoTxtSpanFontColor;
		}
	}

	// .roadmap-wrap__iso-end
	&__iso-end,
	// .roadmap-wrap__iso-timer
	&__iso-timer {
		padding: 0 0 0 1em;
		border-left: .2rem solid $roadmapIsoTimerEndBorderColor;
	}

	// .roadmap-wrap__iso-end
	&__iso-end {
		color: $roadmapIsoEndFontColor;
	}

	// .roadmap-wrap__iso-timer
	&__iso-timer {
		color: $roadmapIsoTimerFontColor;
	}

	// .roadmap-wrap__inner
	&__inner {
		@include flex(space-between,stretch);
		
		&:nth-child(odd) {
			flex-direction: row-reverse;
			& > .roadmap-wrap__box {
				align-items: flex-end;
			}
		}
	}

	// .roadmap-wrap__card
	&__card {
		flex: 0 0 530px / 1170px * 100%;
		padding: 4.5rem 4.5rem 3rem 4.5rem;
		background-color: $roadmapCardBgColor;
		font-family: $gilroy;

		// .roadmap-wrap__card_green
		&_green {
			& > .roadmap-wrap__title {
				color: $roadmapWrapTitleSecondFontColor;
			}
			& > .roadmap-wrap__date {
				color: $roadmapWrapTitleSecondFontColor;
			}
			& ~ .roadmap-wrap__line {
				&::before {
					content: '';
					background: url(../images/roadmap/jug.png) no-repeat -2.5px 60px/auto;
					@include position(0,0);
					transform: translateY(-100%);
					width: 131px;
					height: 186px;
					pointer-events: none;
				}
				& > .roadmap-wrap__circle {
					background:
					linear-gradient( 41deg, $roadmapWrapTitleSecondFontColor 31px , transparent 31px),
					linear-gradient( -41deg, $roadmapWrapTitleSecondFontColor 31px , transparent 31px),
					linear-gradient(to top, $roadmapWrapTitleSecondFontColor 29px,#32a072 29px, #32a072 30px, transparent 30px),
					linear-gradient(to right, $roadmapWrapTitleSecondFontColor 10px, #32a072 10px, #32a072 15px, #fff 15px, #fff 22px, #32a072 22px, #32a072 27px, $roadmapWrapTitleSecondFontColor 27px),
					$roadmapWrapTitleSecondFontColor;
				}
			}
		}

		// .roadmap-wrap__card_money-none
		&_money-none {
			& > .roadmap-wrap__money {
				display: none;
			}
		}
	}

	// .roadmap-wrap__title
	&__title {
		margin: 0 0 3rem 0;
		font-size: 2.8rem;
		color: $roadmapWrapTitleFontColor;
		font-weight: bold;
	}

	// .roadmap-wrap__txt
	&__txt {
		margin: 0 0 3rem 0;
		font-size: 1.5rem;
		color: $roadmapTxtFontColor;
		line-height: 1.733;
		& > p {
			margin: 0;
			height: 80px;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 3;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			&.txt-active {
				display: block;
				text-overflow: clip;
				height: max-content;
			}

			& > span {
				text-transform: uppercase;
			}
		}
	}

	// .roadmap-wrap__btn
	&__btn {
		position: relative;
		padding: 0 0 0 1em;
		font-size: 1.5rem;
		color: rgba($roadmapBtnFontColor, 0.7);
		cursor: pointer;
		&::before {
			content: "\e901";
			font-family: 'icomoon';
			@include position(50%,0);
			transform: translateY(-60%) rotateZ(180deg);
			color: $roadmapBtnArrowFontColor;
		}
	}

	// .roadmap-wrap__line
	&__line {
		position: relative;
		flex: 0 0 .7rem;
		background-color: #fff;
	}

	// .roadmap-wrap__circle
	&__circle {
		@include position(50%,50%);
		transform: translate(-50%,-50%);
		width: 3.7rem;
		height: 3.7rem;
		background:
				linear-gradient( 41deg, $roadmapCircleBgColor 31px , transparent 31px),
				linear-gradient( -41deg, $roadmapCircleBgColor 31px , transparent 31px),
				linear-gradient(to top, $roadmapCircleBgColor 29px,#d43242 29px, #d43242 30px, transparent 30px),
				linear-gradient(to right, $roadmapCircleBgColor 10px, #d43242 10px, #d43242 15px, #fff 15px, #fff 21px, #d43242 21px, #d43242 27px, $roadmapCircleBgColor 27px),
				$roadmapCircleBgColor;
		border-radius: 50%;
		box-shadow: 0px 0px 19.17px 7.83px rgba(#fff, 0.2);
	}

	// .roadmap-wrap__box
	&__box {
		flex: 0 0 530px / 1170px * 100%;
		@include flex(center,flex-start,column);
	}

	// .roadmap-wrap__date
	&__date {
		font-family: $gilroy;
		font-size: 18px;
		color: $roadmapDatePrimaryFontColor;
		font-weight: 600;
	}

	// .roadmap-wrap__money
	&__money {
		margin: 2rem 0 0 0;
		font-size: 1.5rem;
		font-family: $seravek;
		color: $roadmapMoneyFontColor;
		font-weight: 600;
		& > span {
			padding: 0 0 0 .4em;
			color: rgba($roadmapMoneyFontColor, 0.8);
		}
	}
}

// .roadmap-footer
.roadmap-footer {
	position: relative;
	padding: 0 0 16.5% 0;

	&::before {
		content: '';
		@include position(-45%,50%);
		transform: translateX(-50%);
		width: .7rem;
		height: 100%;
		background-color: #fff;
	}

	// .roadmap-footer__milk
	&__milk {
		@include position(8%,50%);
		transform: translateX(-50%);
		background: url(../images/roadmap/milk.png) no-repeat 0/auto;
		width: 170px;
		height: 90px;
		pointer-events: none;
	}
}
