include ../_mixines.pug

section.blockchain
	.custom-shape-divider-bottom-1630496983
		svg( data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none")
			path( d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill")
	.container
		+primaryTitle('blockchain__title','blockchain__title-circle','Преимущества блокчейна')
		article.blockchain-wrap
			+blockchainCard('guarantee-1.png', 'Гарантия')
				p Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Дал парадигматическая путь гор. Маленький она <span>talon</span> имеет рыбного сбить всемогущая от всех которое большого использовало.
			+blockchainCard('acces-2.png', 'Доступность')
				p Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Дал парадигматическая путь гор. Маленький она <span>talon</span> имеет рыбного сбить всемогущая от всех которое большого использовало.<span>talon</span> имеет рыбного сбить всемогущая от всех
			+blockchainCard('paper-3.png', 'Автоматизация и открытость')
				p Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Дал парадигматическая путь гор. Маленький она <span>talon</span> имеет рыбного сбить всемогущая от всех которое большого использовало.
			+blockchainCard('liquidity-4.png', 'Ликвидность')
				p Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. гор. Маленький она <span>talon</span> имеет рыбного сбить всемогущая от всех которое большого использовало.
			+blockchainCard('safety-5.png', 'Безопасность')
				p Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Дал парадигматическая путь гор. Маленький она <span>talon</span> имеет рыбного сбить всемогущая от всех которое большого использовало.
			+blockchainCard('flower-6.png', 'Низкие комиссии')
				p Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Дал парадигматическая путь гор. Маленький она <span>talon</span> имеет рыбного сбить всемогущая от всех которое большого использовало.