section.faq
	.container
		article.faq-wrap
			.main__title.faq-wrap__title 4. Частые вопросы (FAQ)
			.faq-wrap__content
				.faq-wrap__card
					.faq-wrap__question Что такое макет?
					.main__txt.faq-wrap__txt
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Переулка родного сбить ручеек она запятых не заглавных рот свою!
				.faq-wrap__card
					.faq-wrap__question У меня есть готовый макет
					.main__txt.faq-wrap__txt
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Родного, все вдали последний даль наш образ инициал которой! Запятых взобравшись пустился эта текста коварных безопасную переписали заманивший вопроса взгляд?
				.faq-wrap__card
					.faq-wrap__question У меня нет макета
					.main__txt.faq-wrap__txt
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Взгляд правилами пустился составитель имени знаках? За языком, проектах рукопись подпоясал парадигматическая заглавных злых, составитель рекламных правилами снова если толку?
				.faq-wrap__card
					.faq-wrap__question Сколько времени занимает печать?
					.main__txt.faq-wrap__txt
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Переулка родного сбить ручеек она запятых не заглавных рот свою!
				.faq-wrap__card
					.faq-wrap__question Я не могу приехать к вам в офис
					.main__txt.faq-wrap__txt
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Переулка родного сбить ручеек она запятых не заглавных рот свою!
				.faq-wrap__card
					.faq-wrap__question Вызов курьера бесплатный?
					.main__txt.faq-wrap__txt
						p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали своих переписали предложения, родного там власти безопасную свое лучше рыбными это предупреждал знаках на берегу свой, переписывается, выйти собрал. Семантика пор проектах подпоясал наш составитель.
			.faq-wrap__footer
				.main__qa.faq-wrap__qa Есть вопросы?
				.main__consult.faq-wrap__consult Оставьте заявку на консультацию
				form.main__form.faq-wrap__form(action="flfl.php", method="post")
					input.main__form-input.faq-wrap__input(type="text", name="user-name", placeholder='Имя')
					input.main__form-input.faq-wrap__input(type="tel", name="user-tel", placeholder='Телефон')
					button.main__form-btn.faq-wrap__btn(type="submit") Отправить
			span.main__line