
section.print
	.container
		article.print-wrap
			.print-wrap__col
				.main__subtitle.print-wrap__subtitle
					span.main__number 2
					span Широкоформатная печать для вашего интерьера
				.main__txt.print-wrap__txt
					p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Прямо но взгляд коварных если рыбного предложения собрал подзаголовок, ipsum эта, сбить проектах имеет предупреждал, вопроса это всеми живет решила осталось которое ты свой. Большого инициал выйти страна своих грустный дал гор это, свой пор пояс запятой рыбного путь лучше.
				a.print-wrap__btn(href="#") Оставить заявку
			span.main__line