
header.header
	.container
		section.head-top
			a.head-top__logo(href="#") Artactive
			nav.head-top__nav
				ul.head-top__menu
					li.head-top__item
						a.head-top__link(href="#") О нас
					li.head-top__item
						a.head-top__link(href="#") Услуги
					li.head-top__item
						a.head-top__link(href="#") Отзывы
					li.head-top__item
						a.head-top__link(href="#") Faq
					li.head-top__item
						a.head-top__link(href="#") Контакты
				.head-top__call
					a.head-top__num(href="tel: +79201488131") +7 (920) 148 81 31
					a.head-top__btn(href="#") Заказать звонок
			.head-top__click
				span
		section.head-bottom
			.head-bottom__column.head-bottom__column-img
				img(src="images/header/head-promo.png" alt="promo-image")
			.head-bottom__column
				h1.head-bottom__column-title размер <br/> не имеет <br/> значения
				.head-bottom__column-txt
					p Оперативная полиграфия и широкоформатная печать любого размера
				.head-bottom__column-footer
					a.head-bottom__column-footer-btn Заказать печать
					span.head-bottom__column-footer-txt с доставкой по Ярославлю и Ярославской области
			.head-bottom__arrow
				span