section.polygraph
	.container
		article.poly-wrap
			.poly-wrap__col
				.main__subtitle.poly-wrap__subtitle
					span.main__number 3
					span Оперативная полиграфия — от визитки до баннера
				.main__txt.poly-wrap__txt
					p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Они запятых он заглавных, агентство ты свой рыбными безопасную домах своих продолжил ipsum даль? Путь жизни океана дорогу себя по всей деревни, рыбного, ее даль, запятых великий сбить выйти семь оксмокс города вопроса текстами напоивший моей рыбными бросил все своего букв.
					p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Она, по всей! Пояс свое раз возвращайся диких гор грустный первую она коварных, дороге щеке это.
			.poly-wrap__col
				.poly-wrap__img
					img(src="./images/polygraph/papers-320.png", alt="polygraph-image")
			.poly-wrap__col
				.main__qa.poly-wrap__qa Есть вопросы?
				.main__consult.poly-wrap__consult Оставьте заявку на консультацию
				form.main__form(action="dkkd.php", method="post").poly-wrap__form
					input.main__form-input.poly-wrap__input.poly-wrap__name(type="text", name="user-name", placeholder='Имя')
					input.main__form-input.poly-wrap__input.poly-wrap__tel(type="tel", name="user-tel", placeholder='Телефон')
					button.main__form-btn.poly-wrap__btn(type="submit") Отправить