include ../_mixines.pug

section.description
	.custom-shape
		svg(data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none")
			path( d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill")
	.container
		+primaryTitle('description__title','description__title-circle','Описание Продукций')
		article.descr__wrap
			.descr__col.descr__col-artwork
				.descr__col-card
					each img in ['first','second','third']
						.descr__col-img(class='descr__col-' + img)
							img(src='./images/description/' + img + '.png' alt=img)
			.descr__col
				h3.descr__col-title.
					Доверие и децентрализация — ключевые принципы экономической модели компании
				.descr__col-body
					each title in ['Молочная ферма', 'Молочный завод', 'Сеть сбыта и пункты выдачи']
						.descr__col-body-txt
							h4= title
							|Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты.
				.descr__col-footer-txt.descr__col-body-txt
						h4 + Бонусы
						| Многие продукты для держателя Talon обходятся абсолютно бесплатно


