section.iso-head
	.container
		article.iso-head__wrap
			.iso-head__txt.main__iso-txt
				span.iso-head__end.main__iso-end Окончание ICO через:
				span.iso-head__timer.main__iso-timer 32 дня 09 часов 40 минут
			.iso-head__exit